*.bcls
aln.bz2
firmicute_16S_V1-V3_dense.mfa
16SV1V3.ncls
16SV1V3_2.ncls
3563_Pseudoclavibacter
Microbacteriaceae
Microbacteriaceae.map
Microbacteriaceae.mfa
Microbacteriaceae.nw
Microbacteriaceae.phy
Microbacteriaceae.phy_phyml_stats.txt
Microbacteriaceae.phy_phyml_tree.txt
good_seed
ID2genus
IDs
frc.mfa
frc.mod
frc.nw
genera
